footer {
	padding-top: 5% !important;
	text-align: center !important;
	font-weight: 100px !important;
	font-size: 12px !important;
	line-height: 1.2em !important;
	font-family: "proxima-nova" !important;
}
