* {

}

header {
	display: block;
	background-color: white;
	/*height: 10%;*/
	color: #55565b !important;
	height: 50px;
	position: fixed;
	width: 100%;
	background-color: lightyellow;
	z-index: 1000;
}

.border-menu:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 2em;
  height: .5em;
  border-top: .3em double #000;
  border-bottom: .5em solid #000;
}
.active {
	font-weight: 500;
	text-decoration: underline !important;
}
.logos li {
	display: inline-block;
}
.full {
	vertical-align: middle;
}

.link .current {
	/*background-color: #E6EBA5;*/
	/*font-weight: bold;*/
	text-transform: uppercase;
	color: #4747D1;

}

nav a {
	float: right;
	margin-top: 5px;
	
}
.logos img {
	margin-top: 3px;
}

.header {
	font-family: "proxima-nova" !important;
font-size: 2em !important;
text-transform: uppercase !important;
text-decoration: none !important;
letter-spacing: 3px !important;
font-weight: 400 !important;
font-style: normal !important;
line-height: 2em !important;
margin-top: -1%;

}
.logos img {
	width:25px;
	 height: 25px;
}

.link {
	margin-right: 5px;
	margin-top: 9.5px;
	color: black;
	font-weight: bold;

	
}
.link span {
	/*color:#4747D1;*/
	font-family: "proxima-nova";
font-size: 1em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 400;
font-style: normal;
line-height: 2em;
margin: 0 auto;
vertical-align: middle;

}
.link:hover{
	text-decoration: none;
}
.link span:hover{
	/*color:#AEC9DC;*/
	font-weight: bold;


}
.mobile img  {
	border: none;
}


.mobile {
	float: left;
	padding-right: 70px;
}
@media only screen and (max-width:600px) {
	nav img {
		display: none;
	}

}

@media only screen and (min-width: 700px) {
	.mobile {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	.full {
		display: none;
	}
}

.content {

	color:#4747D1;
	font-family: "proxima-nova";
font-size: 1.1em;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
font-weight: 100;
font-style: normal;
line-height: 2em;
margin: 0 auto;
color: #55565b;
text-align: center;
padding: 20px;

}

.lines {
	margin-top: -7px;
}


