
header {
	display: block;
}
.resume {
	background-color: white;
}


.first {
	/*background: url(http://hdwallpaper.freehdw.com/0002/nature-landscapes_hdwallpaper_wildflower-on-a-mountain-meadow_10458.jpg) no-repeat;*/
	height: 780px;
	width: 100%;
	padding: 0;
}

.experience {
	padding-bottom: 10px;
	padding-top: 10px;
}
/*.work {
	border: solid;
	width: 600px;
	height: 300px;

}*/

.work {
	padding: 30px;
	border-left: 1px solid #ebebeb;
	display: block;

}

#interests .row:last-child {
	border-top: 1px solid #ebebeb;
}

.loreal {
	height: 100px;

}



.resume {
	padding-bottom: 3%;
}
.work h3 {
font-weight: bold;
color: #4c4c4c;
letter-spacing: 0.2em;
font-size: 1.4em;
padding-bottom: 10px;
text-align: center;

}

.work p {
	color: #595959;
	text-align: center;
max-width: 90%;
padding-top: 10px;
padding-bottom: 10px;
font-size: 1.1em;
letter-spacing: 1px;
font-weight: 300;
font-size: 15px;
line-height: 25px;
	margin: 0 auto;
/*letter-spacing: .2px;
font-weight: 100;
font-style: normal;
line-height: 1.2em;*/

}

h1 {
	text-align: center;
}

img {
	display: block;
	margin: auto;
}

@media only screen and (max-width: 500px) {
	#prodigy.loreal {
		width: 100%;
	}


}


/*@media only screen and (min-width: 450px) {
	h1::before {
		content: "My ";
	}
}*/

@media only screen and (max-width: 991px) {
	.work {
	border-top: 1px solid #ebebeb;


}
	#interests .work:first-child {
		border: none;
	}

}

.first h1 {
	margin-left: 20px;
}

@media only screen and (max-width: 890px) {
	.work p {
	max-width: 70%;


}

}
/*
.hello p {
	text-align: center;
	color: white;
	font-weight: bold;
	margin-top: 15px;
	font-size: 120%;
}
.hello span {
	font-family: 'sans-serif';
	font-style: italic;
	font-size: 130%;
	color: #E0C2FF;
}
.logos img {
	width:25px;
	 height: 25px;
}
*/

